

#map {
      height: 80vh;
}

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: transparent;
    }

.header-image {
    max-width: 100%;
}

.navbar {
    background-image: url('media/maps/bannertest.png');
}

.navbar-brand {
    font-size: 350%;
}


.bottom-padding {
    padding-bottom: 20px;
}
