<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <title>Simple Map</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA22pBq2fiCjK712IAkC5W3PyRJHlkUtZs&callback=initMap" async
    defer></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'index' %}">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="#">Link 1</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div id="map"></div>
      </div>
      <div class="col-sm-5">
        <p>Submit your route</p>
        <form method="post" action="" enctype=multipart/form-data>
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="submit">
        </form>
      </div>
    </div>
  </div>

  <script src={% static "maps/js/map.js" %}></script>
  <script type="text/javascript">
    $(window).on('load', function() {
      mapObject = {
        mapDiv: document.getElementById('map')
      }
      initMap(mapObject);
    });

  </script>

</body>

</html>
