<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <title>Simple Map</title>
  <!-- including JS, JQuery, and Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- including custom stylesheet -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block nav %}{% include 'maps/navbar.html' %}{% endblock %}
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
