{% extends 'maps/base.html' %}
{% block content %}
<div class="row">


<div class="col-xs-8">
  <div id="map"></div>
</div>

<div class="col-sm-4">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <p>Submit your route</p>
    {% load crispy_forms_tags %}
    {% crispy form %}
  <div class="card">
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">How to</h4>
        <!--Text-->
      <ul>
        <li class="card-text">Go to <a href="https://www.google.com/maps/d/" target="_blank">Google MyMaps</a></li>
        <li class="card-text">Create a new map and select add directions. Input your start and end points.</li>
        <li class="card-text">Select "export as KML" in the menu next to the map name. Select to export only your direction layer as a KML.</li>
        <li class="card-text">Upload your KML here.</li>
      </ul>

      {{ kml_url }}

    </div>
  </div>

</div>
</div>
<div class="row">
  <div class="col-sm-8">
    <form action="/action_page.php" method="get">
      <input id="arterial" type="checkbox" name="vehicle" value="Bike">Arterial Reconstruction<br>
      <input id="residential" type="checkbox" name="vehicle" value="Car" checked="checked">Residential Reconstruction<br>
      <input id="pavement" type="checkbox" name="vehicle" value="Car" checked="checked">Pavement Projects<br>
      <input id="sidewalk" type="checkbox" name="vehicle" value="Car" checked="checked">Sidewalk Construction<br>
    </form>
  </div>
</div>

{% load static %}
<script src={% static "maps/js/map.js" %}></script>
  <script type="text/javascript">
    $(window).on('load', function() {
      mapObject = {
        mapDiv: document.getElementById('map')
      }
      initMap(mapObject);

      addKml('{{ kml_url|safe }}');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nV2RSckcwMlNMb0E');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nV2RSckcwMlNMb0E');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nREEyeXkyYm9BRjQ');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nbV9JZmo4b1pmU0k');
    });
  </script>

{% endblock %}
