{% extends 'maps/base.html' %}
{% block content %}
<div class="row">

  <div class="col-xs-1">

  </div>

<div class="col-xs-7">
  <div id="map" class="text-center"></div>
</div>

<div class="col-sm-3">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <p>Submit your route</p>
    {% load crispy_forms_tags %}
    {% crispy form %}
  <div class="card">
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">How to</h4>
        <!--Text-->
      <ul>
        <li class="card-text">Submit a link to a .kml file.</li>

      </ul>

    </div>
  </div>
<div class="col-xs-1">

  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-8">
    <form action="/action_page.php" method="get">
      <input id="arterial" type="checkbox" checked="checked">Arterial Reconstruction<br>
      <input id="residential" type="checkbox" checked="checked">Residential Reconstruction<br>
      <input id="pavement" type="checkbox" checked="checked">Pavement Projects<br>
      <input id="sidewalk" type="checkbox" checked="checked">Sidewalk Construction<br>
    </form>
  </div>
</div>

{% load static %}
<script src={% static "maps/js/map.js" %}></script>
  <script type="text/javascript">
    $(window).on('load', function() {
      mapObject = {
        mapDiv: document.getElementById('map'),
        checkedProjects: document.getElementsByClassName('checked')
      }
      initMap(mapObject);

      addKml('{{ kml_url|safe }}');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nV2RSckcwMlNMb0E');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nV2RSckcwMlNMb0E');
      //addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nREEyeXkyYm9BRjQ');
      addKml('https://drive.google.com/uc?export=download&id=0B4Ww4gGrDx6nbV9JZmo4b1pmU0k');
    });
  </script>

{% endblock %}
